@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');

@font-face {
    font-family: 'aileronsregular';
    src: url('resources/webfontkit/ailerons-regular-webfont.woff2') format('woff2'),
         url('resources/webfontkit/ailerons-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

#nav-bar {
    height: 4em;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nav-ul {
    list-style-type: none;
    padding: 0;
}

.nav-li {
    font-family: 'aileronsregular';
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.8);
    display: inline;
    padding: 0 15px;
}

#hero {
    height: 100vh;
    width: 100vw;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.45), 
            rgba(0, 0, 0, 0.45)
        ),
        url("resources/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    height: calc(100vh - 4em);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 4em 8em;
    grid-template-areas:
    "name"
    "h1"
    "icons";
}

#rectangle {
    height: 20em;
    width: 20em;
    border: 3px solid rgba(255, 255, 255, 0.8);
    grid-area: name;
    justify-self: center;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    font-family: 'aileronsregular';
    color: #C9C9C9;
    font-size: 8em;
    margin: 0;
}

#h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    grid-area: h1;
    justify-self: center;
    align-self: center;
}

#icons {
    grid-area: icons;
    justify-self: center;
    align-self: start;
}

.icon {
    height: 1.7em;
    width: 1.7em;
    padding: 0 2px;
}