@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

@font-face {
    font-family: 'aileronsregular';
    src: url('resources/webfontkit/ailerons-regular-webfont.woff2') format('woff2'),
         url('resources/webfontkit/ailerons-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

#nav-bar {
    height: 4em;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nav-ul {
    list-style-type: none;
}

.nav-li {
    font-family: 'aileronsregular';
    font-size: 1.1em;
    color: #fff;
    display: inline;
    padding: 0 15px;
}

#hero {
    height: 100vh;
    width: 100vw;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.45), 
            rgba(0, 0, 0, 0.45)
        ),
        url("resources/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

